@page "/"
@using EdjCase.ICP.Agent
@using EdjCase.ICP.Agent.Auth
@using EdjCase.ICP.Agent.Identity
@using EdjCase.ICP.Candid.Models
@using System.Text.Json.Serialization
@using EdjCase.ICP.Candid.Models.Keys;
@using EdjCase.ICP.Candid.Utilities

@inject IJSRuntime JSRuntime
@inject Sample.Shared.Governance.GovernanceApiClient Client
@inject System.Net.Http.HttpClient Http


<PageTitle>Get Proposal Info</PageTitle>

<h1>Get Proposal Info</h1>

<input type="number" @bind-value="this.ProposalId" @bind-value:event="oninput" />

<button @onclick="ReloadProposalInfo">Fetch</button>

@if (this.Identity == null)
{
    <button @onclick="Login">Login</button>
}
else
{
    <button @onclick="Logout">Logout</button>
}
@if (this.Info?.HasValue == true)
{
    ProposalInfo info = this.Info.GetValueOrThrow();
    <h2>Id: @info.Id.GetValueOrDefault()</h2>
    <h2>Status: @info.Status</h2>
    <h2>Topic: @info.Topic</h2>
    if (info.LatestTally.HasValue)
    {
        Tally latestTally = info.LatestTally.GetValueOrThrow();
        <h1>Votes</h1>
        <ul>
            <li>Yes: @latestTally.Yes</li>
            <li>No: @latestTally.No</li>
            <li>Total: @latestTally.Total</li>
        </ul>
    }
    if (info.Proposal.HasValue)
    {
        Proposal proposal = info.Proposal.GetValueOrThrow();
        <h1>Proposal</h1>
        <h2>Title: @proposal.Title</h2>
        <h2>Summary: @proposal.Summary</h2>
        <h2>Url: @proposal.Url</h2>
        if (proposal.Action.HasValue)
        {
            var action = proposal.Action.GetValueOrThrow();
            switch (action.Tag)
            {
                case ActionTag.Motion:
                    <h2>Motion: @action.AsMotion().MotionText</h2>
                    break;
            }
        }
    }
    <pre>
        @JsonSerializer.Serialize(info, new JsonSerializerOptions{WriteIndented=true});
    </pre>

}
else if(this.MadeCall && this.ProposalId != null)
{
    <h2>Id: @this.ProposalId</h2>
    <h2>Proposal Not Found</h2>
}

@code {
    public ulong? ProposalId { get; set; }
    public bool MadeCall { get; set; }
    public OptionalValue<ProposalInfo>? Info { get; set; }
    public IIdentity? Identity { get; set; }

    public async Task ReloadProposalInfo()
    {
        if (this.ProposalId != null)
        {
            this.Info = await this.Client.GetProposalInfo(this.ProposalId.Value, identityOverride: this.Identity);
            this.MadeCall = true;
        }
    }

    public async Task Login()
    {
        var dotNetReference = DotNetObjectReference.Create(this);
        await JSRuntime.InvokeVoidAsync("window.authClientLogin", dotNetReference);
    }

    public async Task Logout()
    {
        await JSRuntime.InvokeVoidAsync("window.authClientLogout");
        this.StateHasChanged();
    }

    protected override async Task OnInitializedAsync()
    {
        await this.SetIdentityAsync();
    }

    [JSInvokable("OnLoginSuccess")] // This is required in order to JS be able to execute it
    public async Task OnLoginSuccessAsync()
    {
        await this.SetIdentityAsync();

    }

    public async Task SetIdentityAsync()
    {
        List<string>? identityValues = await this.GetLocalStorageValueAsync<List<string>>("ic-identity");
        DelegationChainModel? chainModel = await this.GetLocalStorageValueAsync<DelegationChainModel>("ic-delegation");
        if (identityValues != null && chainModel != null)
        {
            byte[] publicKeyBytes = ByteUtil.FromHexString(identityValues[0]);
            var publicKey = new ED25519PublicKey(publicKeyBytes);
            byte[] privateKey = ByteUtil.FromHexString(identityValues[1]);
            var identity = new ED25519Identity(publicKey, privateKey);
            DelegationChain chain = chainModel.ToCommon();
            this.Identity = new DelegationIdentity(identity, chain);
        }
        this.StateHasChanged();
    }

    public async Task<T?> GetLocalStorageValueAsync<T>(string key)
    {
        JsonElement storageJsonElement = await JSRuntime.InvokeAsync<JsonElement>("localStorage.getItem", key);
        string? json = storageJsonElement.GetString();
        if (json == null)
        {
            return default;
        }
        return JsonSerializer.Deserialize<T>(json)!;
    }

    public class DelegationChainModel
    {
        [JsonPropertyName("delegations")]
        public List<SignedDelegationModel> Delegations { get; set; } = new List<SignedDelegationModel>();
        [JsonPropertyName("publicKey")]
        public string PublicKey { get; set; }

        public DelegationChain ToCommon()
        {
            List<SignedDelegation> delegations = this.Delegations
                .Select(d => d.ToCommon())
                .ToList();
            ED25519PublicKey publicKey = new ED25519PublicKey(Convert.FromHexString(this.PublicKey));
            return new DelegationChain(publicKey, delegations);
        }
    }

    public class SignedDelegationModel
    {
        [JsonPropertyName("delegation")]
        public DelegationModel Delegation { get; set; }
        [JsonPropertyName("signature")]
        public string Signature { get; set; }

        public SignedDelegation ToCommon()
        {
            Delegation delegation = this.Delegation.ToCommon();
            Signature signature = new Signature(Convert.FromHexString(this.Signature));
            return new SignedDelegation(delegation, signature);
        }
    }

    public class DelegationModel
    {
        [JsonPropertyName("expiration")]
        public string Expiration { get; set; }
        [JsonPropertyName("pubkey")]
        public string PubKey { get; set; }

        public Delegation ToCommon()
        {
            var publicKey = new ED25519PublicKey(Convert.FromHexString(this.PubKey));
            ulong nanosecondsFromNow = (ulong)ByteUtil.FromHexString(this.Expiration).ToBigInteger(isUnsigned: true, isBigEndian: true);
            ICTimestamp expiration = ICTimestamp.FromNanoSeconds(nanosecondsFromNow);
            return new Delegation(publicKey.GetRawBytes(), expiration, targets: null);
        }
    }
}