@page "/"
@using EdjCase.ICP.Agent
@using EdjCase.ICP.Agent.Auth
@using EdjCase.ICP.Agent.Identity
@using EdjCase.ICP.Candid.Models
@using System.Text.Json.Serialization
@using EdjCase.ICP.Candid.Utilities

@inject IJSRuntime JSRuntime
@inject Sample.Shared.Governance.GovernanceApiClient Client
@inject System.Net.Http.HttpClient Http


<PageTitle>Get Proposal Info</PageTitle>

<h1>Get Proposal Info</h1>

<input type="number" @bind-value="this.ProposalId" @bind-value:event="oninput" />

<button @onclick="ReloadProposalInfo">Fetch using WebAssembly</button>
<button @onclick="ServerReloadProposalInfo">Fetch using Server Api</button>

@if (this.Identity == null)
{
    <button @onclick="Login">Login</button>
}
else
{
    <button @onclick="Logout">Logout</button>
}
@if (this.Info != null)
{
    <h2>Id: @this.Info.Id?.Id</h2>
    <h2>Status: @this.Info.Status</h2>
    <h2>Topic: @this.Info.Topic</h2>
    if (this.Info.LatestTally != null)
    {
        <h1>Votes</h1>
        <ul>
            <li>Yes: @this.Info.LatestTally.Yes</li>
            <li>No: @this.Info.LatestTally.No</li>
            <li>Total: @this.Info.LatestTally.Total</li>
        </ul>
    }
    if (this.Info.Proposal != null)
    {
        <h1>Proposal</h1>
        <h2>Title: @this.Info.Proposal.Title</h2>
        <h2>Summary: @this.Info.Proposal.Summary</h2>
        <h2>Url: @this.Info.Proposal.Url</h2>
        if (this.Info.Proposal.Action != null)
        {
            switch (this.Info.Proposal.Action.Type)
            {
                case ActionType.Motion:
                    <h2>Motion: @this.Info.Proposal.Action.AsMotion().MotionText</h2>
                    break;
            }
        }
    }
    <pre>
        @JsonSerializer.Serialize(this.Info, new JsonSerializerOptions{WriteIndented=true});
    </pre>

}
else if(this.MadeCall && this.ProposalId != null)
{
    <h2>Id: @this.ProposalId</h2>
    <h2>Proposal Not Found</h2>
}

@code {
    public ulong? ProposalId { get; set; }
    public bool MadeCall { get; set; }
    public ProposalInfo? Info { get; set; }
    public IIdentity? Identity { get; set; }

    public async Task ReloadProposalInfo()
    {
        if (this.ProposalId != null)
        {
            this.Info = await this.Client.GetProposalInfoAsync(this.ProposalId.Value, identityOverride: this.Identity);
            this.MadeCall = true;
        }
    }

    public async Task Login()
    {
        var dotNetReference = DotNetObjectReference.Create(this);
        await JSRuntime.InvokeVoidAsync("window.authClientLogin", dotNetReference);
    }

    public async Task Logout()
    {
        await JSRuntime.InvokeVoidAsync("window.authClientLogout");
        this.StateHasChanged();
    }


    public async Task ServerReloadProposalInfo()
    {
        if (this.ProposalId != null)
        {
            HttpResponseMessage response = await this.Http.GetAsync($"api/Governance/GetProposalInfo/{this.ProposalId.Value}");
            response.EnsureSuccessStatusCode();
            this.Info = await response.Content.ReadFromJsonAsync<ProposalInfo?>();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await this.SetIdentityAsync();
    }

    [JSInvokable("OnLoginSuccess")] // This is required in order to JS be able to execute it
    public async Task OnLoginSuccessAsync()
    {
        await this.SetIdentityAsync();

    }

    public async Task SetIdentityAsync()
    {
        List<string>? identityValues = await this.GetLocalStorageValueAsync<List<string>>("ic-identity");
        DelegationChainModel? chainModel = await this.GetLocalStorageValueAsync<DelegationChainModel>("ic-delegation");
        if (identityValues != null && chainModel != null)
        {
            byte[] publicKeyBytes = ByteUtil.FromHexString(identityValues[0]);
            var publicKey = new ED25519PublicKey(publicKeyBytes);
            byte[] privateKey = ByteUtil.FromHexString(identityValues[1]);
            var identity = new ED25519Identity(publicKey, privateKey);
            DelegationChain chain = chainModel.ToCommon();
            this.Identity = new DelegationIdentity(identity, chain);
        }
        this.StateHasChanged();
    }

    public async Task<T?> GetLocalStorageValueAsync<T>(string key)
    {
        JsonElement storageJsonElement = await JSRuntime.InvokeAsync<JsonElement>("localStorage.getItem", key);
        string? json = storageJsonElement.GetString();
        if (json == null)
        {
            return default;
        }
        return JsonSerializer.Deserialize<T>(json)!;
    }

    public class DelegationChainModel
    {
        [JsonPropertyName("delegations")]
        public List<SignedDelegationModel> Delegations { get; set; } = new List<SignedDelegationModel>();
        [JsonPropertyName("publicKey")]
        public string PublicKey { get; set; }

        public DelegationChain ToCommon()
        {
            List<SignedDelegation> delegations = this.Delegations
                .Select(d => d.ToCommon())
                .ToList();
            DerEncodedPublicKey publicKey = new DerEncodedPublicKey(Convert.FromHexString(this.PublicKey));
            return new DelegationChain(publicKey, delegations);
        }
    }

    public class SignedDelegationModel
    {
        [JsonPropertyName("delegation")]
        public DelegationModel Delegation { get; set; }
        [JsonPropertyName("signature")]
        public string Signature { get; set; }

        public SignedDelegation ToCommon()
        {
            Delegation delegation = this.Delegation.ToCommon();
            Signature signature = new Signature(Convert.FromHexString(this.Signature));
            return new SignedDelegation(delegation, signature);
        }
    }

    public class DelegationModel
    {
        [JsonPropertyName("expiration")]
        public string Expiration { get; set; }
        [JsonPropertyName("pubkey")]
        public string PubKey { get; set; }

        public Delegation ToCommon()
        {
            DerEncodedPublicKey publicKey = new ED25519PublicKey(Convert.FromHexString(this.PubKey)).GetDerEncodedBytes();
            ulong nanosecondsFromNow = (ulong)ByteUtil.FromHexString(this.Expiration).ToBigInteger(isUnsigned: true, isBigEndian: true);
            ICTimestamp expiration = ICTimestamp.FromEpochNanoSeconds(nanosecondsFromNow);
            return new Delegation(publicKey, expiration, targets: null);
        }
    }
}